<nav id="sidebarMenu" class="col-md-1 col-lg-1 d-md-block bg-light sidebar collapse" style="background-image: linear-gradient(to right, #2c3e50, #4ca1af);">
    <div class="position-sticky pt-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/urlInput/">
            <span data-feather="home" class="align-text-bottom"></span>
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="polls/">
            <span data-feather="file" class="align-text-bottom"></span>
            Polls
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="upload/">
            <span data-feather="shopping-cart" class="align-text-bottom"></span>
            Upload
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="users" class="align-text-bottom"></span>
            About
          </a>
        </li>
        
        
      </ul>

      
    </div>
  </nav>